.page {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  /* max-width: 1600px; */
  margin: 0 auto;
  background-color: #2a2c2f;

  height: 100vh; /* temporary for preventing my eye burn */
  width: 100vw; /* temporary for preventing my eye burn */
}
