.place__person-role {
  text-transform: uppercase;
  color: #aaaaaa;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.12em;
  margin-bottom: 8px;
}

/* @media screen and (max-width: 320px) {
  .place__person-role {
    margin-right: 16px;
    margin-left: 16px;
  }
} */
