.logo {
  width: 270px;
  height: 70px;
  margin: auto;
  padding-top: 34px;
  display: block;
}

@media screen and (max-width: 320px) {
  .logo {
    padding-top: 20px;
    width: 200px;
    height: 51.85px;
  }
}
