.buy-button_place_places {
  width: 248px;
  max-height: 48px;
}

@media screen and (max-width: 320px) {
  .buy-button_place_places {
    width: 288px;
    height: 48px;
    display: block;
    margin: 0 auto 0;
  }
}
