.place__person-info {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
}

/* @media screen and (max-width: 320px) {
  .place__person-info {
    margin-right: 16px;
    margin-left: 16px;
  }
} */
